ul{
	margin: 0;
	padding: 0;
}

ul li{
	float: left;
	width: 150px;
	height: 60px;
	opacity: .8;
	font-size: 20px;
	line-height: 60px;
	text-align: center;
	background-color: black;
	list-style: none;
	border: 2px solid #285189;
}
ul li a{
	text-decoration: none;
	color: white;
	display: block;
	
}
ul li a:hover{
	background-color: orange;
	
}
ul li ul li{
	
	display: none;
}
ul li:hover ul li{
	background-color: yellow;
	display: block;
}